footer{
    background: #e4e4e4;
}

.copyright {
    background: #242323;
    width: 100%;
    text-align: center;
    padding-top: 1.4em;
    height: 7vh;
    bottom: 0;
    color: #e4e4e4;
    font-size: 0.9em;
}

.footer-info-wrapper {
    display: inline-block;
    height: 42.5vh;
    color: #939393;
    width: 100%;
    background-color: #e4e4e4;
}

.footer-info{
    margin-top: 3%;
    padding: 0.5em;
    padding-left: 1.25vw;
    border-left: 0.08em #ccc8c8 solid;
    width: 20vw;
    height: 45%;
    float: left;
}

.footer-title{
    margin-left: 10vw;
    text-align: right;
    padding-right: 1em;
    border: 0;
    font-size: 1.5em;
}

a:active, a:visited, a {
    text-decoration: none;
}

.footer-info-title {
    color: #939393;
    margin-bottom: 3vh;
}

.footer-content {
    margin: 2vh auto auto auto;
    font-size: 0.95em;
}

.footer-logo {
    margin-top: 3vh;
    padding-left: 2.5vw;
}

.footer-logo > a, .footer-logo > a:active, .footer-logo > a:visited {
    color: #939393;
}